@media screen and (max-width:600px) {
    .nav-bar-wrapper {
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }

    .nav-icons {
        gap: 20px;
    }

    .mySwiper {
        height: 45vh;
    }

    .header-wrapper {
        justify-content: space-between;
    }

    h1 {
        font-size: 30px;
        line-height: 0;
    }

    h2 {
        font-size: 24px;
        line-height: 0;
    }

    .slider-bancground {
        gap: 40px;
    }

    .section3 {
        height: 30vh;
    }

    .ads-prod h1 {
        margin-top: 15px;
    }

    .ads-prod>div span:first-child {
        font-size: 30px;
    }

    .ads-prod>div span:last-child {
        font-size: 20px;
    }

}

@media screen and (max-width:800px) {

    /* header */
    .navlinks ul {
        display: none;
    }

    .head-icons a:nth-child(1) {
        visibility: visible;
    }

    .logo img {
        margin-left: 10px;
    }
}

@media screen and (max-width:390px) {
    .header-wrapper {
        justify-content: center;
        gap: 15px;
    }

}