@media screen and (max-width:600px) {
    .nav-bar-wrapper {
        /* flex-wrap: wrap; */
        gap: 15px;
        justify-content: center;
    }

    .nav-icons {
        gap: 20px;
    }

    .mySwiper {
        height: 45vh;
    }

    .header-wrapper {
        justify-content: space-between;
    }

    h1 {
        font-size: 30px;
        line-height: 0;
    }

    h2 {
        font-size: 24px;
        line-height: 0;
    }

    .slider-bancground {
        gap: 40px;
    }

    .section3 {
        height: 30vh;
    }

    .ads-prod h1 {
        margin-top: 15px;
    }

    .ads-prod>div span:first-child {
        font-size: 30px;
    }

    .ads-prod>div span:last-child {
        font-size: 20px;
    }

    .section5-wrapper {
        justify-content: center;
    }

    .section8-1 {
        height: 250px;
    }

    .section9-box {
        flex-wrap: wrap;
        gap: 20px;
    }

    .down-footer,
    .footer-wrapper {
        justify-content: center !important;

    }

    .nav-icons {
        display: none;
    }

    #search-bar {
        font-size: 14px;
    }

    #search-button {
        font-size: 14px;
        padding: 8px;
    }
}

@media screen and (max-width:800px) {

    /* header */
    .navlinks ul {
        visibility: hidden;
        flex-direction: column;
        position: absolute;
        z-index: 2;
        background: rgb(233, 233, 233);
        width: 100%;
        left: 0;
        top: 125px;
        align-items: center;
        padding: 20px 0;
        max-height: 0;
        /* Initially no height */
        transition: max-height 0.4s ease, visibility 0.2s ease;
        /* Smooth transition for visibility and height */

    }


    .head-icons a:nth-child(1) {
        visibility: visible;
        z-index: 8 !important;
        position: relative;
    }

    .section4-wrapper {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }

    .top-rated-box1,
    .on-sale-box1,
    .trending-box1 {
        margin-top: 20px;
    }

}

@media screen and (max-width:390px) {
    .header-wrapper {
        justify-content: space-around;
        gap: 15px;
    }

    .company-logos img {
        width: 40%;
    }

    .section8-1 {
        height: 200px;
    }

    .section8-1-news input {
        width: 70%;
    }

    .head-icons a {
        margin: 0 8px;
    }

    .logo img {
        width: 115px;
    }


}

@media screen and (max-width:900px) {
    .mySwiper {
        height: 45vh;
    }

    .section8-wrapper {
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
    }
}