@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: red;

}

::selection {
    color: white;
    background: #000000;
}

body {
    font-size: 14px;
    font-family: "Lato", sans-serif;

}

/* utility classes */

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.section {
    height: 100vh;
    padding: 20px 0;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

h1 {
    font-size: 50px;
    line-height: 21px;
    font-weight: 700;
}

h2 {
    font-size: 30px;
    line-height: 21px;
    font-weight: 700;
}

h3 {
    font-size: 20px;
    font-weight: 700;
    text-transform: uppercase;
}

h4 {
    font-size: 16px;
    line-height: 22px;
    font-weight: 700;

}

p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

/* nav-bar */
.nav-bar {
    background-color: #111111;
    color: #777777;

}

.nav-bar-wrapper {
    height: 19%;
    margin: 0 30px;
    padding: 20px 0;
}

.nav-icons {
    gap: 40px;
}

.nav-emial p {
    cursor: pointer;
}

.nav-emial p:hover,
.nav-icons a:hover,
.nav-drop-down select:hover {
    color: white;
}

.nav-icons a {
    font-size: 18px;
    cursor: pointer;
    color: #777777;
}

.nav-drop-down select {
    cursor: pointer;
    outline: none;
    background: #111111;
    color: #777777;
    border: none;
    font-size: 14px;
}

/* nav-bar */

/* header  */

.header-wrapper {
    padding: 20px 0;
    flex-wrap: wrap;
    position: relative;
}

.logo img {
    cursor: pointer;
    background: blueviolet;
    width: 180px;
}

.navlinks ul {
    gap: 30px;
    font-size: 13px;

}

.navlinks ul a {
    color: #111111;
    transition: color .5s ease-in-out;
}

.navlinks ul a:hover,
.head-icons a:hover {
    cursor: pointer;
    color: red;
}

.head-icons a {
    margin: 0 15px;
    font-size: 16px;
    color: #111111;
}

.head-icons a:nth-child(1) {
    visibility: hidden;
}

.menu.active {
    visibility: visible;
    /* Show menu when active */
    max-height: 300px;/
}

/* search bar */
.search-container {
    display: none;
    /* Hidden by default */
    position: absolute;
    top: 80px;
    right: 40px;
    max-width: 500px;
    margin: 0 auto;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 5px;
    z-index: 11;
}

#search-bar {
    outline: none;
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

#search-button {
    padding: 10px;
    border: none;
    background-color: #333;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
}

#search-button:hover {
    background-color: #555;
}

/* search bar */


/* header  */

/* banner */

/* slider */
.banner {
    padding-bottom: 20px;
}

.mySwiper {
    width: 100%;
    height: 70vh;
}

.slider-bancground {
    height: 100%;
    width: 100%;
    object-fit: cover;
    background: red;
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: center;
    padding-left: 40px;
    gap: 30px;
    background-repeat: no-repeat;
}

.slider-bancground1 {
    background: url('../assets/slider1.jpeg');
}

.slider-bancground2 {
    background: url('../assets/slider2.jpeg');
}

.slider-bancground3 {
    background: url('../assets/slider3.jpeg');
}

.swiper-btn {
    padding: 10px 10px;
    background-color: #111111;
    color: white;
    border-radius: 5px;
}

.swiper-btn:hover {
    cursor: pointer;
    background-color: white;
    color: red;
    border: 2px solid red;

}

/* slider */
/* banner */



/* section1 */
.section1-wrapper {
    text-align: center;
    flex-direction: column;
}

.product-tiles a {
    font-size: 16px !important;
    color: #111111;
    position: relative;

}

.product-tiles a i {
    animation: myAnim3 2s ease 0s 1 normal forwards;
}

.product-tiles h3 {
    padding-bottom: 10px;
}


.product-tiles a::before {
    content: "";
    position: absolute;
    width: 39px;
    height: 1px;
    background-color: #080808;
    border: 1px solid #69686c;
    top: 10px;
    margin-left: -50px;
    animation: myAnim1 2s ease 0s 1 normal forwards;

}

.product-tiles a::after {
    content: "";
    position: absolute;
    width: 39px;
    height: 1px;
    background-color: #080808;
    border: 1px solid #69686c;
    top: 10px;
    margin-left: 10px;
    animation: myAnim 2s ease 0s 1 normal forwards;



}

@keyframes myAnim1 {
    0% {
        opacity: 0;
        transform: translateX(50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes myAnim {
    0% {
        opacity: 0;
        transform: translateX(-50px);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes myAnim3 {
    0% {
        animation-timing-function: ease-in;
        opacity: 0;
        transform: translateY(-250px);
    }

    38% {
        animation-timing-function: ease-out;
        opacity: 1;
        transform: translateY(0);
    }

    55% {
        animation-timing-function: ease-in;
        transform: translateY(-65px);
    }

    72% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }

    81% {
        animation-timing-function: ease-in;
        transform: translateY(-28px);
    }

    90% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }

    95% {
        animation-timing-function: ease-in;
        transform: translateY(-8px);
    }

    100% {
        animation-timing-function: ease-out;
        transform: translateY(0);
    }
}

.product-tiles p {
    padding-top: 8px;
}

/*  */
.tab {
    overflow: hidden;
}

.tab button {
    background-color: #fff;
    text-transform: uppercase;
    color: #111111;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 16px;
    font-weight: bold;
    transition: 0.3s;

}

.tab button:hover {
    color: red;
}

.tab button.active {
    color: red;
}

.tabcontent {
    /* background: green; */
    display: none;
    margin: 30px 0;
    text-align: left;
}


#tab1 .swiper-slide .imag {
    height: 200px;
    background-color: #f5f5f5;
}

#tab2 .swiper-slide .imag {
    height: 200px;
    background-color: #ff0000;
}

#tab3 .swiper-slide .imag {
    height: 200px;
    background-color: #15ff00;
}

.mySwiper2 .swiper-slide p,
.mySwiper3 .swiper-slide p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    margin-top: 15px;
    text-align: start;
}

.swiper-slide span {
    font-size: 18px;
    line-height: 27px;
    font-weight: 400;
}

.star-icons {
    font-size: 12px !important;
    color: #eaac05;
}

/* section1 */

/* section2 */
.section2-wrapper {
    text-align: center;
}

.mySwiper3 .swiper-slide .imag {
    height: 200px;
    background-color: #6a59b4;
}

.mySwiper3 {
    margin: 20px 0;
}

/* section3 */
.section3 {
    margin: 50px 0;
    background-color: #cccccc;
    height: 50vh;
}

.ads-prod {
    gap: 20px;
    flex-direction: column;
}

.ads-prod h1 {
    text-transform: uppercase;
    margin-top: 5px;
}

.ads-prod>div span:first-child {
    font-size: 50px;
    color: #dd443c;
}

.ads-prod>div span:last-child {
    font-size: 30px;
    text-decoration: line-through;
    margin-left: 10px;
    text-align: center;
    font-weight: 700;
}

.time-box1,
.time-box2,
.time-box3,
.time-box4 {
    width: 51px;
    height: 48px;
    background-color: #ffffff;
    border: 1px solid #bababa;
    text-align: center;
    margin-left: 10px;
}

.time-box>div p:first-child {
    margin-top: 5px;
    font-size: 20px;
    line-height: 21px;
    text-transform: uppercase;
    color: #dd443c;
    font-weight: 700;
}

.time-box>div p:last-child {
    font-size: 12px !important;
    line-height: 21px;
    text-transform: uppercase;
    color: #b3b3b4;

}

/* section 4 */

.top-rated,
.on-sale,
.trending {
    flex-direction: column;
    gap: 20px;
}

.top-rated-box1,
.on-sale-box1,
.trending-box1 {
    gap: 25px;
    margin-top: 40px;
}

.sec-4-pic {
    width: 170px;
    height: 200px;
    background-color: #f5f5f5;
}

.section4-text p:first-child {
    margin-bottom: 10px;
}

.section4-text-last-p {
    font-size: 18px;
    line-height: 27px;
    font-weight: 500;
    margin: 12px 0;
}

.section4-text-last-p span {
    text-decoration: line-through;
    font-size: 12px;
}

.section4-text a {
    border: 1px solid black;
    border-radius: 50%;
    padding: 8px;
    transition: color .5s ease-in-out;
}

.section4-text a:hover {
    color: red;
    cursor: pointer;
    border-color: red;
}

.top-rated-box2,
.on-sale-box2,
.trending-box2 {
    gap: 25px;
}


/* section 5 */
.section5 {
    margin: 40px 0 0 0;
    background-color: #f5f5f5;
}

.section5-wrapper {
    height: 150px;
    flex-wrap: wrap;
}

.section5-wrapper h3 {
    color: #080808;
    text-align: center;
}

/* section 6 */
.section6 {
    opacity: 0.800;
    background-color: #111111;
}

.mySwiper4 {
    height: 330px;
}

.section6-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.section6-pic img {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #f5f5f5;
}

.section6-content h4 {
    color: white;
    margin-top: 10px;
}

.section6-content p {
    font-size: 10px;
    line-height: 20px;
    font-weight: 700;
    color: white;
}

.section6-content q {
    width: 50%;
    font-size: 14px;
    color: #ffffff;
    text-align: center;
    margin-top: 25px;
}

/* section7 */
.section7 {
    padding: 40px 0;
}

.company-logos {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 20px;
}

.company-logos img {
    width: 15%;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

/* section8 */
.section8-wrapper {
    flex-wrap: wrap;
    gap: 30px;
    padding: 40px 0 50px 0;
}

.blog-post1,
.blog-post2,
.blog-post3,
.blog-post4 {
    width: 240px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    border-radius: 5px;
}

.blog-post-img {
    /* width: 270px; */
    height: 220px;
    background-color: #cccccc;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.blog-post-content {
    padding: 0 10px;
    background-color: #fafafa;
    text-align: center;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    /* width: 271px; */
}

.blog-post-content span {
    font-size: 12px;
    line-height: 17px;
    color: #69686c;
    font-weight: 400;
}

.blog-post-content-p {
    font-size: 14px;
    color: #232323;
    font-weight: 700;
}

.blog-post-date {
    margin-bottom: 5px;
}

.blog-post-date i {
    margin-right: 5px;
}

.blog-post-date i:last-child {
    margin-left: 10px;
}

.blog-post-content p {
    padding: 10px 0;
}

.blog-post-content-btn:hover {
    color: red;
    cursor: pointer;
}

/* section8-1 */
.section8-1 {
    height: 300px;
    background-color: #f5f5f5;
    border: 1px solid #fbfbfb;
}

.section8-1-wrapper {
    text-align: center;
    line-height: 50px;
    margin-top: 5%;
}

.section8-1-wrapper h3 {
    margin-bottom: 10px;
}

.section8-1-news {
    margin-top: 20px;
}

.section8-1-news input {
    outline: none;
    height: 30px;
    width: 40%;
    border: 1px solid #eeeeee;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 40px;
}

.section8-1-news input::placeholder {
    font-size: 13px;
}

.section8-1-news i {
    cursor: pointer;
    position: relative;
    right: 27px;
    padding: 7px 13px 9px 0px;
    transition: color .5s ease-in-out;
}

.section8-1-news i:hover {
    color: red;
}


/* section 9 */
.section9 {
    margin-top: 40px;
    background-color: #f5f5f5;

}

.section9-box {
    text-align: center;
    justify-content: space-around;
    padding: 45px 0 16px 0;
}

.section9-box i {
    font-size: 34px;
}

.section9-box h4 {
    margin-top: 12px;
}

.section9-box p {
    margin-top: 5px;
}

/* footer */
footer {
    opacity: 0.800;
    background-color: #111111;
    color: white;
    padding: 80px 0 40px 0;
}

.footer-wrapper {
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.footer-box-1 {
    width: 300px;
}

.footer-box-2 {
    width: 100px;
}

.footer-box-3 {
    width: 100px;
}

.footer-box-4 {
    width: 240px;
}

.footer-text {
    margin-top: 30px;
}

.footer-box-1 .footer-text p {
    color: #717171;

}

.footer-icons {
    margin-top: 15px;
    flex-direction: column;
    gap: 5px;
    font-weight: 300;
}

.footer-icons i {
    margin-right: 10px;
}

.footer-text ul li {
    font-size: 14px;
    line-height: 30px;
    color: #d6d6d6;
    font-weight: 400;
    font-family: "Lato";
}

.footer-last-icons {
    gap: 10px;
}

.footer-last-icons a {
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    /* background-color: #dd443c; */
    border: 1px solid #ffffff;
}

.footer-last-icons a i {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 16px;
    color: white;
}

.footer-last-icons a:hover {
    background-color: #3765a3;
}

.down-footer {
    padding-top: 40px;
    flex-wrap: wrap;
    gap: 40px;
}