@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --primary-text-color: red;

}

body {
    overflow: hidden;
    font-size: 14px;
    font-family: "Lato", sans-serif;

}

/* utility classes */

.container {
    max-width: 1180px;
    margin: 0 auto;
}

.section {
    height: 100vh;
    padding: 20px 0;
}

.d-flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.justify-between {
    justify-content: space-between;
}

.align-items-center {
    align-items: center;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* nav-bar */
.nav-bar {
    background-color: #111111;
    color: #777777;

}

.nav-bar-wrapper {
    height: 19%;
    margin: 0 30px;
    padding: 20px 0;
}

.nav-icons {
    gap: 40px;
}

.nav-emial p {
    cursor: pointer;
}

.nav-emial p:hover,
.nav-icons a:hover,
.nav-drop-down select:hover {
    color: white;
}

.nav-icons a {
    font-size: 18px;
    cursor: pointer;
    color: #777777;
}

.nav-drop-down select {
    cursor: pointer;
    outline: none;
    background: #111111;
    color: #777777;
    border: none;
    font-size: 14px;
}

/* nav-bar */

/* header  */

.header-wrapper{
    height: 15vh;
    flex-wrap: wrap;
}
.logo img {
    background: blueviolet;
    width: 180px;
}

.navlinks ul {
    gap: 30px;
    font-size: 13px;
    color: #111111;;
}
.navlinks ul li:hover{
    cursor: pointer;
    color: red;
}

.head-icons a {
    margin: 0 15px;
    font-size: 16px;
    color: #111111;
}

.head-icons a:nth-child(1) {
    visibility: hidden;
}




    /* header  */


























    /* slider */

    .swiper {
        width: 100%;
        height: 70vh;
    }

    .swiper-slide {
        background: #ff0000;
    }

    .swiper-slide img {
        position: relative;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 80%;
        height: 100%;
        object-fit: cover;
    }

    .top-left {
        position: absolute;
        top: 80px;
        left: 80px;
    }

    /* slider */